@model Helpmebot.WebApi.TransportModels.CommandInfo
<div class="col-xxl-6 mb-4 command-help-object" data-hmb-command="@Model.CanonicalName" data-hmb-group="@Model.HelpCategory" id="command-@Model.CanonicalName">
    <div class="card">
        <div class="card-header d-flex flex-row align-items-center justify-content-between">
            <h4 class="font-monospace my-1">@ViewBag.BotStatus.Trigger@Model.CanonicalName</h4>
            @if (Model.Flags.Any())
            {
                <p class="mb-0 text-muted"><span class="d-none d-sm-inline">Requires</span> 
                    @for (var index = 0; index < Model.Flags.Count; index++)
                    {
                        var f = Model.Flags[index];
                        @if (index > 0)
                        {
                            @(" or ")
                        }
                        <partial name="Flag" model="f" />
                    }
                </p>
            }
        </div>
        @if (Model.Aliases.Any())
        {
            <div class="card-body border-bottom">
                <h6 class="mb-2 card-subtitle">Aliases:</h6>
                <ul class="mb-0 list-inline">
                    @foreach (var alias in Model.Aliases)
                    {
                        <li class="list-inline-item font-monospace">@ViewBag.BotStatus.Trigger@alias</li>
                    }
                </ul>
             
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.HelpSummary))
        {
            <div class="card-body border-bottom">
            <h6 class="card-subtitle text-muted mb-2">Synopsis</h6>
                <p class="mb-0">@Model.HelpSummary</p>
            </div>
        }

        @if (Model.Subcommands.Any())
        {
            <div class="card-body">
                <h6 class="card-subtitle mb-2">Syntax</h6>
                <dl class="mb-0">
                    @foreach (var sc in Model.Subcommands)
                    {
                        <dt class="font-monospace fw-normal">
                            @foreach (var s in sc.Syntax)
                            {
                                <p class="mb-0">@ViewBag.BotStatus.Trigger@sc.CanonicalName @s</p>
                            }
                        </dt>
                        <dd class="ms-4">
                            @foreach (var s in sc.HelpText)
                            {
                                <p class="mb-0">@s</p>
                            }
                            @if (sc.Flags.Any())
                            {
                                <p class="mb-0 mt-2">
                                    Requires flag:
                                    @foreach (var f in sc.Flags)
                                    {
                                        <partial name="Flag" model="f"/>
                                    }
                                </p>
                            }
                        </dd>
                    }
                </dl>
            </div>
        }
    </div>
</div>