@using Markdig
@model Tuple<Dictionary<string, Tuple<string, string>>, Dictionary<string, List<Helpmebot.WebApi.TransportModels.CommandInfo>>>
@{
    ViewData["Title"] = "Flags";
    ViewData["Tab"] = "Index";
    ViewData["advanced"] = true;
    Layout = "_FlagsLayout";
}

<div class="row">
    <div class="col">
        <p>The currently defined flags are listed below.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-highlightable">
            <thead>
            <tr>
                <th></th>
                <th>Summary</th>
                <th>
                    <div class="d-flex flex-row justify-content-between">
                        <div>Description</div>
                        <div class="form-check form-switch fw-normal">
                            <input class="form-check-input" type="checkbox" role="switch" id="switchShowCommands" data-bs-toggle="collapse" data-bs-target=".flag-command-list">
                            <label class="form-check-label text-muted" for="switchShowCommands">Show commands</label>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
                @foreach (var kvp in Model.Item1)
                {
                    <tr id="flag-@kvp.Key">
                        <th rowspan="2" class="font-monospace fs-5"><span class="badge bg-info text-dark">@kvp.Key</span></th>
                        <td class="text-nowrap border-bottom-0">@kvp.Value.Item1</td>
                        <td class="border-bottom-0">@Html.Raw(Markdown.ToHtml("{.mb-0}\n" + kvp.Value.Item2, new MarkdownPipelineBuilder().UseBootstrap().UseAdvancedExtensions().DisableHtml().Build()))</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="small text-muted p-0">
                            <div class="collapse flag-command-list">
                                <div class="d-flex flex-row m-2">
                                    <strong class="me-2">Commands:</strong>
                                    <ul class="list-inline mb-0">
                                        @foreach (var data in Model.Item2[kvp.Key])
                                        {
                                            <li class="list-inline-item" title="@data.HelpSummary"><code class="text-muted">@ViewBag.BotStatus.Trigger@data.CanonicalName</code></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>