
<div class="container">
    <div class="row">
        <div class="p-5 mb-3 bg-primary bg-gradient rounded-3 d-flex flex-row align-items-center">
            <img src="~/img/hmb-logo.svg" class="d-none d-lg-block" style="height: 10rem;"/>
            <div class="container-fluid py-4 ms-lg-4">
                <h1 class="display-3 fw-bold mb-4">Helpmebot</h1>
                <p class="col-xxl-8 fs-2">An Internet Relay Chat utility bot focused on the smooth running of support channels.</p>
            </div>
        </div>
    </div>
    
    <div class="row my-lg-5"><div class="col">
        <p class="fs-5">While the primary user interface of Helpmebot is on IRC, this web application provides a simpler interface to view and manage certain bot functionality.</p>
    </div></div>
    
    <div class="row hmb-stats">
        <div class="col-lg-6 col-xl-4 d-table-cell mb-4">
            <div class="p-3 bg-info text-dark rounded-3 h-100 fs-4 mb-0 d-flex align-items-center">
                <i class="fas fa-comment me-3"></i><span>Joined <strong>@ViewBag.BotStatus.ChannelCount.ToString("N0")</strong> channels on @ViewBag.BotStatus.IrcServer</span>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 d-table-cell mb-4">
            <div class="p-3 bg-success text-light rounded-3 h-100 fs-4 mb-0 d-flex align-items-center">
                <i class="fas fa-terminal me-3"></i><span><strong>@ViewBag.BotStatus.Commands.Count.ToString("N0")</strong> registered commands</span>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 d-table-cell mb-4">
            <div class="p-3 bg-warning text-dark rounded-3 h-100 fs-4 mb-0 d-flex align-items-center">
                <i class="fas fa-clock me-3"></i><span>Connected since <strong class="text-nowrap">@ViewBag.BotStatus.StartupTime.ToString("u")</strong></span>
            </div>
        </div>
        
        <div class="col-lg-6 col-xl-4 d-table-cell mb-4">
            <div class="p-3 bg-secondary text-light rounded-3 h-100 fs-4 mb-0 d-flex align-items-center">
                <i class="fas fa-user me-3"></i><span><strong>@ViewBag.BotStatus.VisibleUserCount.ToString("N0")</strong> users currently visible</span>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 d-table-cell mb-4">
            <div class="p-3 bg-danger text-dark rounded-3 h-100 fs-4 mb-0 d-flex align-items-center">
               <i class="fas fa-stopwatch me-3"></i><span><strong>@(Math.Round(ViewBag.BotStatus.PingTime * 1000, 0).ToString("N0"))ms</strong> latency to IRC server</span>
            </div>
        </div>
        <div class="col-lg-6 col-xl-4 d-table-cell mb-4">
            <div class="p-3 bg-primary text-light rounded-3 h-100 fs-4 mb-0 d-flex align-items-center">
                <i class="fas fa-comments me-3"></i><span><strong>@(ViewBag.BotStatus.TotalMessages.ToString("N0"))</strong> messages received since last startup</span>
            </div>
        </div>
    </div>
</div>