@{
    Layout = "_BaseLayout";
}

@section FooterStatus 
{
    <span class="float-end">
        <small class="d-sm-none">@ViewBag.BotStatus.IrcServer:@ViewBag.BotStatus.IrcServerPort / @ViewBag.BotStatus.Nickname</small>
        <small class="d-none d-sm-inline">Currently connected to @ViewBag.BotStatus.IrcServer:@ViewBag.BotStatus.IrcServerPort as @ViewBag.BotStatus.Nickname</small>
    </span>
}

<div class="flex-shrink-0">
    @RenderBody()
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}

@section Login
{
    <partial name="_LoginPartial"/>
}

@section LowerNav {
    <li>
        <a asp-controller="Credits" asp-action="Index" class="nav-link text-white @if (ViewContext.RouteData.Values["controller"].ToString() == "Credits"){@(" active")}">
            <i class="fas fa-code me-0 me-md-2"></i>
            <span class="d-none d-md-inline">Credits</span>
        </a>
    </li>
}

@section UpperNav
{
    <partial name="_NavPartial"/>
}
